<h1>New Recipe</h1>
 <form action="/products/<%= @product.id %>" method="post">
   <input type="hidden" name="_method" value="patch">
   <div>
     name: <input type="text" name="name" value="<%= @product.name %>">
   </div>
   <div>
     price: <input type="text" name="price" value="<%= @product.price %>">
   </div>
   <div>
     description: <input type="text" name="description" value="<%= @product.description %>">
   </div>
   <input type="submit" value="Create product">
 </form>