<h1>New Recipe</h1>
 <form action="/products" method="post">
   <div>
     name: <input type="text" name="name">
   </div>
   <div>
     price: <input type="text" name="price">
   </div>
   <div>
     description: <input type="text" name="description">
   </div>
   <input type="submit" value="Create product">
 </form>